.header-title text-center p-1 {
  font-family: 'Raleway', sans-serif;
}

h1{
  font-weight: 700;
  font-size: 3em;
}

.photo-credit{
  font-weight: 600;
}

.welcome-image {
  width: 100%;
  height: auto;
}






